<!DOCTYPE html>
<html>
<head>
    <title>CORONA VIRUS</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <img src="img/boy.png" alt="" style="height: 400px; width: 800%">

            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: red; margin: 0; color: white;" :style="{width: playerHP/9*20 + '%'}">
                    {{playerHP}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">CORONA</h1>
            <img src="img/coronavirus.png" alt="" style="height: 400px; width: 100%">
            
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: red; margin: 0; color: white;" :style="{width: virusHP/3*10 + '%'}">
                    {{virusHP}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsStart">
        <div class="small-12 columns">
            <button id="start-game" @click="startNewGame">START GAME</button>
        </div>
    </section>
    <section class="row controls" v-else="">
        <p class="player-turn">Player {{player}}</p> <!--Làm sao để true/false code js vào player-->
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK (1)</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK(2)</button>
            <button id="hevy-attack" @click="hevyAttack">HEVY ATTACK(3)</button>
            <button id="heal" @click="heal">VIRUS HEAL(0-4)</button>
            <button id="restart" @click="startNewGame">RESTART</button>
            <button id="help" @click="show = !show"><a href="#helpbox">HELP</a></button>
        </div>
    </section>
    <section class="row log" id="helpbox" v-if="show">
        <div class="small-12 columns">
            <ol>
                <li>Ai kết liễu (last hit) VIRUS CORONA sẽ thắng.</li>
                <li>HP người hết trong lượt của ai, người đó thua</li>
                <li>CORONA tấn công ngẫu nhiên 1-3 dmg, CORONA tấn công sau khi người tấn công</li>
                <li>Cả 2 cùng Heal cho CORANA thì yêu nhau luôn đi, nhà bao việc (trừ khi cả 2 bị nhiễm CORONA)</li>
            </ol>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>